.content {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .content {
        margin-left: 0;
    }
}

.credit {
    position: absolute;
    bottom: 0;
    font-size: xx-small;
    margin: 10%;
}

.chapter-page {
    display: flex;
    flex-direction: column;
}

.chapter-page .desktop-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.top {
    position: absolute;
    top: 0;
}