.review-container {

}

.review-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.speaker-label {
    flex: 0 0 25%;
    text-align: left;
}

.speech {
    width: 100%;
    flex: 0 0 75%;
    text-align: left;
    margin-left: 0.5rem;
}

.scoring-icons {
    margin-top: 5px;
    margin-bottom: 5px;
}

.scoring-container {
    display: flex;
    align-items: center;
    margin: 16px;
}

.left-side {
    margin-left: 16px;
    margin-right: auto;
}

.right-side {
    margin-left: auto;
}

.right-side > IconButton {
    margin-left: 5px; /* Adjust the spacing as needed */
}

.fill-remaining-space {
    flex: auto;
    justify-content: space-between;
}

.status2 {
    right: 5px;
}

.answer {
    display: block;
}

.minHeight1 {
    min-height: 64px;
    min-width: 100%;
}

.minHeight2 {
    min-height: 56px;
    min-width: 100%;
}